.c-header {
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding-right: 5em;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
    &__ul-start{
        display: flex;
        justify-content: flex-start;
        list-style: none;  
        margin-right: 70%;      
    }

    &__ul-end{
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    &__img{
        width: 30px;
        margin-right: 29px;
    }

    &__img-color{
        color: white;
    }
}