.c-header {
    // display: flex;
    // justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    
    &__ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    &__img{
        width: 30px;
        margin-right: 29px;
    }

    &__img-color{
        fill: white;
    }
}